.hero_header {
  display: flex;
  gap: 5px;
  & a,
  & .dash {
    text-decoration: none;
    color: var(--gray-medium, rgba(47, 43, 67, 0.5));
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.hero_content {
  background: url("../../images/hero_bg.png") !important;
  background-size: 100% cover !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
  padding-top: 40px;
  & .content_inner {
    max-width: 700px;
    & h3 {
      color: var(--base-black, #140a32);
      font-family: Open Sans;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1.14px;
    }
    & p {
      color: var(--base-black, #140a32);
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      padding-top: 15px;
    }
  }
}

.helpHero {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  & div {
    display: flex;
    flex-direction: column;
    & a {
      color: var(--green, #33836e);
      font-family: Open Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      position: relative;
      &::after {
        padding-top: 2px;
        padding-bottom: 2px;
        content: "";
        display: block;
        width: 100%;
        transition: all 0.4s;
        border-bottom: 3px solid #33836e;
        max-width: 180px;
      }
    }
    & p {
      color: var(--gray-medium, rgba(47, 43, 67, 0.5));
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.helpBtn {
  & button {
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    border-radius: 10px;
    background: #33836e;
    display: flex;
    height: 52px;
    padding: 10px 45px;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    border: none;
  }
}

.hero_footer {
  padding-top: 40px;
  display: flex;
  gap: 30px;
  & div {
    display: flex;
    gap: 30px;
  }
  & p {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

@media screen and (max-width: 1200px) {
  .content_inner {
    max-width: 500px !important;
  }
}

@media screen and (max-width: 900px) {
  .hero_content {
    background-position: center top !important;
  }
  .content_inner {
    padding-top: 400px;
    width: 100%;
    max-width: inherit !important;
    text-align: center;
  }
  .helpHero {
    justify-content: center;
  }
  .hero_footer {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .hero_footer {
    justify-content: space-between !important;
    width: 100% !important;
    gap: 0px !important;

    & div {
      flex-direction: column;
    }
  }
}
