.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 75px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 770px) {
  .container {
    max-width: 770px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 390px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}

// Fonts

// Open Sans - 400

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

// Regular - 600

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Open_Sans/static/OpenSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

// Bold - 700

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
